*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    text-align: center;
}

#welcome-text{
    padding-top: 4%;
}
h2{
    text-align: center;
}
#name{
    padding-top: 2%;
    padding-bottom: 2%;

}


#toggle-btn{
    margin: 0 auto;
    display: block;
      
}

#reset-btn {
    position: absolute;
    bottom: 20%;
    left: 48%;
    display: block;
     
}

@keyframes box {
    0%   {left: 0;}
    25%  {left: 25%;}
    50%  {left: 50%;}
    75%  {left: 75%;}
    100% {left: 100%;}
}

.animation-#box {
    animation:10s infinite;
}

#box {
    position: absolute;
    top: 30%;
    left: 44%;

    background-color: rgb(37, 39, 40);
    margin: 40px;
    height: 100px;
    width: 100px;

    border: none; 
    box-sizing: content-box;

}


